/.svn
/Debug
/ipch
/Release
/Retrograde.opensdf
/Retrograde.sdf
/Retrograde.v11.suo
/src/Debug
/src/Release
/src/Retrograde.vcxproj.user
/src/Test
/Test
/TestGame/Debug
/TestGame/TestGame.vcxproj.user
