/.svn
/Retrograde.v11.suo
/Retrograde.sdf
/TestResults
/src/Debug
/ipch
/src/Release
/src/Test
/Debug
/Release
/Test
/src/Retrograde.vcxproj.user
/RetrogradeTest/Retrograde.vcxproj.user
/RetrogradeTest/Debug
/RetrogradeTest/Release
/RetrogradeTest/Test
/Retrograde.opensdf
